/* Elements */
body {
    background-color: #000;
    color: white;
    font-family: 'Didact Gothic', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Gothic A1', sans-serif;
    font-weight: 900;
}

/* Containers */

.container-fluid{
    text-align: center;
    padding: 5% 15%;
}

/* Images */

.bg-image {
    width: 100%;
    position: fixed;
    z-index: -1;
}

.bg-image-half {
    display: none;
}

.half-img {
    width: 80%;
}

#title .container-fluid{
    padding: 3% 15% 5%;
}

#footer .container-fluid{
    padding: 5% 15% 3%;
}

#features,#plans,#cta .container-fluid{
    background-color: #C5A880;
    color: #0F0F0F;
}

/* Headings */

.big-heading {
    font-size: 3.5rem;
    line-height: 1.5;
    text-align: right;
}

.section-heading {
    font-size: 2.5rem;
    line-height: 1.5;
}

/* ============= */
/* Title section */
/* ============= */

/* Title section - navbar */

.navbar{
    margin-bottom: 4.5rem;
}

.navbar-brand {
    font-family: 'Gothic A1', sans-serif;
    font-size: 2.5rem;
}

.nav-item{
    padding: 0 18px;
}

.nav-link {
    font-size: 1.5rem;
}

/* ============= */
/* Features section */
/* ============= */

.features-icon {
    height: 8rem;
    padding-bottom: 2.5rem;
}

.feature-title {
    font-size: 2rem;
}

.feature-text {
    font-size: 1.5rem;
}

/* ============= */
/* Review section */
/* ============= */

.review {
    padding: 30px 10%;
}

.review-img {
    margin: 30px 10px;
    border-radius: 100%;
    border: 2px solid #532E1C;
    width: 7rem;
}

.review-text {
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 1.5;
}

.media-img {
    border-radius: 50%;
    margin: 7% 5%;
    width: 50%;
}

/* ============= */
/* Plans section */
/* ============= */

.plan {
    padding: 3% 4%;
}

.plan-img {
    width: 75%;
}

.price-text{
    font-size: 2.5rem;
    line-height: 1.5;
}

.card-header {
    color: white;
    padding-top: 5%;
    background-color: #532E1C;
}

.card {
    background-color: #C5A880;
    width: 100%;
}

/* ============= */
/* News section */
/* ============= */

.news-img {
    width: 50%;
    padding-left: 30px;
    text-align: right;
}

.news-list {
    font-size: 1.3rem;
    padding: 30px 0;
    text-align: left;
}

/* ============= */
/* Footer section */
/* ============= */

.footer-img {
    width: 50px;
    margin: 0 20px 30px;
}

/* Mobile styles */

@media (max-width: 1028px) {

    .big-heading {
        text-align: center;
    }

    .bg-image {
        display: none;
    }
    
    .bg-image-half {
        width: 100%;
        display: inline;
        position: fixed;
        z-index: -1;        
    }
    
    .news-img {
        display: none;
    }

}